<div class="continer text-center">
    <h1>Tareas</h1>
</div>
<div class="col-lg-12 d-flex flex-dir-column align-content-around flex-wrap">
    {{#if tasks}}
    {{#each tasks}}
    <div class="pl-4 pt-1">
        <div class="card " style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{tittle}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{delivery_date}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{assignment}}</h6>
                <p class="card-text">{{description}}</p>
                <div class="text-center">
                    <a href="/tasks/delete/{{id}}" class="btn btn-success btn-secondary btn-block"><i
                            class="fas fa-check"></i></a>
                    <a href="/tasks/edit/{{id}}" class="btn btn-secondary btn-block"><i class="fas fa-edit"></i></a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="alert alert-warning alert-dismissible fade show col-12 text-center" role="alert">
    No hay tareas agregadas <a href="tasks/add" class="alert-link">agrega mas tareas aqui</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}